body {
  margin: 0;
  padding: 0;
}

#page-wrapper {
	width: 960px;
	margin: 0 auto;
}

header {
	background-color: #888;
	height: 80px;
	text-align: center;
	font-size: 20px;

}

footer {
	background-color: #888;
	height: 80px;
	clear: both;
}

main {
	background-color: red;
	float: left;
	width: 73%;
	height: 800px;
}

#sidebar {
	float: left;
	width: 27%;
	background-color: yellow;
}