body {
  margin: 0;
}

.relexample {
  background-color: #ccc;
  position: relative;
  left: 20px;
  top: -20px;
}

.firstchar {
  color: red;
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
  top: 5px;
}

.super {
  position: relative;
  top: -5px;
}

.absexample {
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: #777;
}

#absolutecontainer {
  background-color: #888;
  height: 300px;
  position: relative;
}

.box {
  width: 80px;
  height: 80px;
}

.box1 {
  background-color: red;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 12;
}

.box2 {
  background-color: blue;
  position: absolute;
  top: 0;
  left: 80px;
  z-index: 10;
}

.smbox {
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 18;
}

#fixedexample {
  background-color: red;
  width: 100px;
  height: 100px;
  position: fixed;
  right: 0;
  top: 30px;
}





