body {
  margin: 0;
}

.relexample {
  background-color: #ccc;
  position: relative;
  left: 50px;
  top: 10px;
}

.firstchar {
  color: red;
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
  top: 4px;
}

.super {
  position: relative;
  top: -5px;
  font-size: 0.7em;
}

.parent {
  position: relat;
  width: 100%;
}

.absexample {
  position: absolute;
  bottom: 10px;
  left: 100px;
  background-color: #777;
}

#absolutecontainer {
  background-color: #888;
  height: 300px;
  position: relative;
}

.box {
  width: 80px;
  height: 80px;
}

.box1 {
  background-color: red;
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 12;
}

.box2 {
  background-color: blue;
  position: absolute;
  top: 10;
  left: 0px;
  z-index: 10;
}

.smbox {
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;

}

#fixedexample {
  background-color: red;
  width: 150px;
  height: 100px;
  position: fixed;
  top: 20px;
  right: 40px;
}





